Repository margusmuru/homelab-prometheus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prometheus-cloudy-vm-1, node-exporter-cloudy-vm-1, cadvisor-cloudy-vm-1, prometheus-portainer-vm-1, node-exporter-portainer-vm-1, cadvisor-portainer-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2, node-exporter-dev-2-vm-2, cadvisor-dev-2-vm-2

.gitlab-ci.yml:

stages:
  - test
  - config
  - deploy

# cloudy
prometheus-cloudy-vm-1:
  trigger:
    include:
      - local: deployments/prometheus-cloudy-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/prometheus-cloudy-vm-1/**/*'
    - when: manual

node-exporter-cloudy-vm-1:
  trigger:
    include:
      - local: deployments/node-exporter-cloudy-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/node-exporter-cloudy-vm-1/**/*'
    - when: manual

cadvisor-cloudy-vm-1:
  trigger:
    include:
      - local: deployments/cadvisor-cloudy-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/cadvisor-cloudy-vm-1/**/*'
    - when: manual

# portainer
prometheus-portainer-vm-1:
  trigger:
    include:
      - local: deployments/prometheus-portainer-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/prometheus-portainer-vm-1/**/*'
    - when: manual

node-exporter-portainer-vm-1:
  trigger:
    include:
      - local: deployments/node-exporter-portainer-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/node-exporter-portainer-vm-1/**/*'
    - when: manual

cadvisor-portainer-vm-1:
  trigger:
    include:
      - local: deployments/cadvisor-portainer-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/cadvisor-portainer-vm-1/**/*'
    - when: manual

# dev-2
prometheus-dev-2-vm-1:
  trigger:
    include:
      - local: deployments/prometheus-dev-2-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/prometheus-dev-2-vm-1/**/*'
    - when: manual

prometheus-dev-2-vm-2:
  trigger:
    include:
      - local: deployments/prometheus-dev-2-vm-2/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/prometheus-dev-2-vm-2/**/*'
    - when: manual

node-exporter-dev-2-vm-2:
  trigger:
    include:
      - local: deployments/node-exporter-dev-2-vm-2/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/node-exporter-dev-2-vm-2/**/*'
    - when: manual

cadvisor-dev-2-vm-2:
  trigger:
    include:
      - local: deployments/cadvisor-dev-2-vm-2/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/cadvisor-dev-2-vm-2/**/*'
    - when: manual

oops
  README.md
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
Due: prometheus-dev-2-vm-2

data retention for dev-2-vm-1
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
Due: prometheus-dev-2-vm-1

test
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
Due: prometheus-dev-2-vm-1

chore(deps): update docker.io/prom/prometheus docker tag to v3.7.2
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
  deployments/prometheus-portainer-vm-1/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-portainer-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2

chore(deps): update quay.io/prometheus/node-exporter docker tag to v1.10.2
  deployments/node-exporter-cloudy-vm-1/docker-compose.yaml
  deployments/node-exporter-dev-2-vm-2/docker-compose.yaml
  deployments/node-exporter-portainer-vm-1/docker-compose.yaml
Due: node-exporter-cloudy-vm-1, node-exporter-portainer-vm-1, node-exporter-dev-2-vm-2

chore(deps): update docker.io/prom/prometheus docker tag to v3.7.3
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
  deployments/prometheus-portainer-vm-1/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-portainer-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2

chore(deps): update docker.io/prom/prometheus docker tag to v3.8.0
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
  deployments/prometheus-portainer-vm-1/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-portainer-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2

chore(deps): update docker.io/prom/prometheus docker tag to v3.8.1
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
  deployments/prometheus-portainer-vm-1/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-portainer-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2

chore(deps): update gcr.io/cadvisor/cadvisor docker tag to v0.55.1
  deployments/cadvisor-cloudy-vm-1/docker-compose.yaml
  deployments/cadvisor-dev-2-vm-2/docker-compose.yaml
  deployments/cadvisor-portainer-vm-1/docker-compose.yaml
Due: cadvisor-cloudy-vm-1, cadvisor-portainer-vm-1, cadvisor-dev-2-vm-2

chore(deps): update docker.io/prom/prometheus docker tag to v3.9.1
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
  deployments/prometheus-portainer-vm-1/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-portainer-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2

try cadvisor config change on dev-2
  deployments/cadvisor-dev-2-vm-2/docker-compose.yaml
Due: cadvisor-dev-2-vm-2

ffs
  deployments/prometheus-dev-2-vm-2/config/prometheus.yaml
Due: prometheus-dev-2-vm-2

ffffs
  deployments/prometheus-dev-2-vm-2/config/prometheus.yaml
Due: prometheus-dev-2-vm-2

revert
  deployments/cadvisor-dev-2-vm-2/docker-compose.yaml
Due: cadvisor-dev-2-vm-2

added prometheus, cadvisor, node-exporter for dev-1
  .gitlab-ci.yml
  deployments/cadvisor-dev-1-vm-1/.gitlab-ci.yml
  deployments/cadvisor-dev-1-vm-1/docker-compose.yaml
  deployments/node-exporter-dev-1-vm-1/.gitlab-ci.yml
  deployments/node-exporter-dev-1-vm-1/docker-compose.yaml
  deployments/prometheus-dev-1-vm-1/.gitlab-ci.yml
  deployments/prometheus-dev-1-vm-1/config/prometheus.yaml
  deployments/prometheus-dev-1-vm-1/docker-compose.yaml
Due: none

tweaks
  deployments/prometheus-dev-1-vm-1/config/prometheus.yaml
  deployments/prometheus-dev-1-vm-1/docker-compose.yaml
Due: none

oops
  deployments/prometheus-dev-1-vm-1/docker-compose.yaml
Due: none

readme update
  README.md
Due: none

added ports for node-exporter containers
  deployments/node-exporter-cloudy-vm-1/docker-compose.yaml
  deployments/node-exporter-dev-1-vm-1/docker-compose.yaml
  deployments/node-exporter-dev-2-vm-2/docker-compose.yaml
  deployments/node-exporter-portainer-vm-1/docker-compose.yaml
Due: node-exporter-cloudy-vm-1, node-exporter-portainer-vm-1, node-exporter-dev-2-vm-2

readme updates
  README.md
Due: none

cadvisor config error
  deployments/cadvisor-cloudy-vm-1/docker-compose.yaml
  deployments/cadvisor-dev-1-vm-1/docker-compose.yaml
  deployments/cadvisor-dev-2-vm-2/docker-compose.yaml
  deployments/cadvisor-portainer-vm-1/docker-compose.yaml
Due: cadvisor-cloudy-vm-1, cadvisor-portainer-vm-1, cadvisor-dev-2-vm-2

asdas
  deployments/prometheus-dev-1-vm-1/config/prometheus.yaml
Due: none

prometheus config
  deployments/prometheus-dev-1-vm-1/config/prometheus.yaml
Due: none

prod-1 setup
  README.md
  deployments/cadvisor-prod-1-vm-1/.gitlab-ci.yml
  deployments/cadvisor-prod-1-vm-1/docker-compose.yaml
  deployments/node-exporter-prod-1-vm-1/.gitlab-ci.yml
  deployments/node-exporter-prod-1-vm-1/docker-compose.yaml
  deployments/prometheus-dev-1-vm-1/config/prometheus.yaml
Due: none

prod-1 triggers
  .gitlab-ci.yml
Due: none

removed manual from cadvisor and node exporter
  .gitlab-ci.yml
Due: none

oops
  .gitlab-ci.yml
Due: none

fixed path errors
  deployments/cadvisor-prod-1-vm-1/.gitlab-ci.yml
  deployments/cadvisor-prod-1-vm-1/docker-compose.yaml
Due: none

fixed prometheus config error
  deployments/prometheus-dev-1-vm-1/config/prometheus.yaml
Due: none

Update docker.io/prom/prometheus Docker tag to v3.10.0
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-1-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
  deployments/prometheus-portainer-vm-1/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-portainer-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2

cleanup
  .gitlab-ci.yml
  deployments/prometheus-cloudy-vm-1/.gitlab-ci.yml
  deployments/prometheus-cloudy-vm-1/config/prometheus.yaml
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/config/prometheus.yaml
  deployments/prometheus-portainer-vm-1/.gitlab-ci.yml
  deployments/prometheus-portainer-vm-1/config/prometheus.yaml
  deployments/prometheus-portainer-vm-1/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-portainer-vm-1, prometheus-dev-2-vm-1

readme. cleanup
  README.md
  deployments/prometheus-portainer-vm-1/docker-compose.yaml
Due: prometheus-portainer-vm-1

Update docker.io/prom/prometheus Docker tag to v3.11.1
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-1-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2

Update quay.io/prometheus/node-exporter Docker tag to v1.11.1
  deployments/node-exporter-cloudy-vm-1/docker-compose.yaml
  deployments/node-exporter-dev-1-vm-1/docker-compose.yaml
  deployments/node-exporter-dev-2-vm-2/docker-compose.yaml
  deployments/node-exporter-portainer-vm-1/docker-compose.yaml
  deployments/node-exporter-prod-1-vm-1/docker-compose.yaml
Due: node-exporter-cloudy-vm-1, node-exporter-portainer-vm-1, node-exporter-dev-2-vm-2

Update docker.io/prom/prometheus Docker tag to v3.11.2
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-1-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2

Update docker.io/prom/prometheus Docker tag to v3.11.3
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-1-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2

Update docker.io/prom/prometheus Docker tag to v3.12.0
  deployments/prometheus-cloudy-vm-1/docker-compose.yaml
  deployments/prometheus-dev-1-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-1/docker-compose.yaml
  deployments/prometheus-dev-2-vm-2/docker-compose.yaml
Due: prometheus-cloudy-vm-1, prometheus-dev-2-vm-1, prometheus-dev-2-vm-2
